  
body, h1, h2, p, form, input, ul {
  margin: 0;
  padding: 0;
}
body {
  min-width: 1280px;
  font-family:"Lucida Grande";
}
header{
  background-color: rgb(0, 255, 234);
  height:90px;
  display: flex;
}
.header-logo{
  font-size: 36px;
  padding:20px 40px;
}
.header-list ul{
  display: flex;
  list-style: none;
}
.header-list li{
  padding:33px 20px;
}
header a{
  color:rgb(255, 255, 255);
  text-decoration: none;
}

main{
  padding:100px 80px;
}

.copy-container h1{
    font-size: 110px;
}
.copy-container h2{
    font-size: 70px;
}
.copy-container span{
  color: red;
}

.contents-container{
  margin-top: 50px;
}
.section-title{
  border:2px solid #dee7ec;
  font-size:28px;
  padding-top:15px;
}

.contents-item{
  margin:20px 0px;
}
.img{
  width: 800px;
  height: 600px;
}
.air {
  color : blue ;
  font-size: 24px;
  font-style: bold;
}
a:hover{
  color:red;
}
a:active{
  color:pink;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}
.contact-container{
  margin-top:50px;
}
input,textarea{
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}
.contact-submit{
  background-color:#dee7ec;
  color:#889eab;
}

footer{
  background-color:yellow;
  height:120px;
  padding:40px;
}
footer li{
  padding:10px 0px;
}